* {
    padding : 0;
    margin : 0;
}

#main-game{
    width: 725px;
    height: 715px;
    border: 1px solid black;
    background-color: rgb(228, 243, 194);
    overflow: hidden;
    position: absolute;
    margin: 1em;
    text-align: center;

}

#player{
    position: absolute;
    border-radius: 50%;
    background-color: violet;
    overflow: hidden;
    }

#enemy{
    position: absolute;
    background-color: rgb(199, 53, 16);
 }
   
.flower{
    background-color: blue;
    position: absolute;
 }

 #points {
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(246, 233, 57);
    border: 2px solid rgb(189, 212, 120)
    
 }
    


a, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}