@font-face {
  font-family: "Stigo", sans-serif;
  src: url("http://fonts.cdnfonts.com/css/stigo");
}

:root {
  --main-color: rgb(242, 104, 255);
  --second-color: rgb(243, 234, 109);
  --color-one: rgb(241, 31, 31);
  --color-two: orange;
  --color-three: rgb(54 199 0);
  --plr-run-1: ;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../media/vecteezy_galaxy-background-with-falling-star-vector-space-galaxy_7120314.jpg);
}

#start-game {
  background-image: url(../media/T_17-01.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  font-family: "Stigo", sans-serif;
}

#startgame-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
  flex-wrap: wrap;
  position: fixed;
  top: 39%;
  left: 35%;
  width: 96px;
  height: 40px;
  background-color: var(--second-color);
  border: 2px solid rgb(189, 212, 120);
  border-radius: 10px 50px 10px;
  border: 4px double var(--main-color);
  box-shadow: inset 0 0 black;
  margin-top: -100px;
  margin-left: -100px;
  height: 300px;
  width: 350px;
  background-image: url(../media/vecteezy_galaxy-background-with-falling-star-vector-space-galaxy_7120314.jpg);
  background-size: cover;
  text-align: center;
  font-size: large;
  color: var(--second-color);
}

.start-button {
  width: 136px;
  height: 52px;
  background-color: var(--second-color);
  border: 2px solid rgb(189, 212, 120);
  margin-left: 10px;
  margin-top: 30px;
  align-self: center;
  font-size: large;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue;
  border-radius: 20px 20px 20px 20px;
  border: 4px double var(--main-color);
  transition: all 0.1s ease-out;
  font-family: "Games", sans-serif;
  src: url("http://fonts.cdnfonts.com/css/games");
  box-shadow: 0 5px #666;
  animation: color-animation 0.5s infinite alternate;
}

.start-button:active {
  background-color: #dd61f2;
  transform: translateY(4px);
  box-shadow: none;
  animation-duration: 0.2s;
}

#main-game {
  display: flex;
  width: 80%;
  height: 90%;
  background-color: var(--second-color);
  border: 2px solid rgb(189, 212, 120);
  border-radius: 10px 50px 20px;
  border: 4px double var(--main-color);
  overflow: hidden;
  position: absolute;
  margin: 1em;
  left: 50px;
  background-image: url(../media/vecteezy1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px solid black;
}

#player {
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: auto;
  animation: sprite 1s infinite;
  background-image: url("../media/PlayerStanding.png");
  background-repeat: no-repeat;
}

.enemy {
  position: absolute;
  background-image: url(../media/skeleton-animation_01.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#hearts-container {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  background-color: var(--second-color);
  border: 2px solid rgb(189, 212, 120);
  border-radius: 10px 50px 20px;
  border: 4px double var(--main-color);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  gap: 2px;
  z-index: 1;
}

.flower {
  background-image: url(../media/Leaf\ icon-04.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.heart {
  background-image: url(../media/redheart.png);
  background-size: contain;
  animation: bounce-animation 0.3s infinite;
}

@keyframes bounce-animation {
  0% {
  }
  100% {
    transform: scale(1.2);
  }
}

#points-container {
  width: 96px;
  height: 40px;
  background-color: var(--second-color);
  border: 2px solid rgb(189, 212, 120);
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 50px 20px;
  border: 4px double var(--main-color);
  z-index: 1;
}

#points {
  font-size: 40px;

  animation: bounce-animation 0.3s infinite;
  font-family: "Games", sans-serif;
}

a,
h1 {
  text-decoration-line: none;
  color: black;
  font-family: "Stigo", sans-serif;
}

.enemyExtra {
  position: absolute;
  background-color: rgb(199, 53, 16);
}

#link {
  margin-top: 200px;
  text-align: center;
  right: 80px;
  text-decoration: dashed;
  color: rgb(255, 0, 149);
  font-family: "Stigo", sans-serif;
}

#laika {
  width: 200px;
  height: 150px;
  background-image: url(../media/Laika.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 50%;
}

#gameover-div {
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 42%;
  width: 96px;
  height: 40px;
  background-color: var(--second-color);
  border: 2px solid rgb(189, 212, 120);
  border-radius: 10px 50px 10px;
  border: 4px double var(--main-color);
  box-shadow: inset 0 0 black;
  margin-top: -100px;
  margin-left: -100px;
  height: 230px;
  width: 250px;
  text-align: center;
  background-image: url(../media/vecteezy_galaxy-background-with-falling-star-vector-space-galaxy_7120314.jpg);
  background-size: cover;
  font-family: "Games", sans-serif;
}

#gameover-score {
  color: black;
  width: 96px;
  height: 40px;
  background-color: var(--second-color);
  border: 2px solid rgb(189, 212, 120);
  left: 797px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue;
  border-radius: 10px 50px 20px;
  border: 4px double var(--main-color);
  font-family: "Games", sans-serif;
  src: url ("http://fonts.cdnfonts.com/css/games");
}

#reStart-button {
  width: 136px;
  height: 52px;
  background-color: var(--second-color);
  border: 2px solid rgb(189, 212, 120);
  margin-left: 10px;
  margin-top: 30px;
  align-self: center;
  font-size: large;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue;
  border-radius: 20px 20px 20px 20px;
  border: 4px double var(--main-color);
  transition: all 0.1s ease-out;
  font-family: "Games", sans-serif;
  src: url("http://fonts.cdnfonts.com/css/games");
  box-shadow: 0 5px #666;
  animation: color-animation 0.5s infinite alternate;
}

#reStart-button:active {
  background-color: #dd61f2;
  transform: translateY(4px);
  box-shadow: none;
  animation-duration: 0.2s;
}

span {
  animation: color-animation 0.5s infinite alternate;
  animation-duration: 0.3s;
  font-family: "Games", sans-serif;
  font-size: 18px;
  color: var(--color-three);
}

@keyframes color-animation {
  0% {
    /* font-size: 20px; */
  }

  50% {
    transform: scale(1.02);
    /* font-size: 18px; */
  }
}
